
  
  
    <h2 style="color:#fff;">Advertisement</h2>
    <div style="display: flex;color: #fff;">
    <div class="image-container">
      <img src="https://www.impetusgurukul.com/wp-content/themes/wp/assets/images/logo.png" alt="Moving Image" >
</div>
<p>For Nimcet Coaching Contact <a href="https://www.impetusgurukul.com/">ImpetusGurukul</a></p>
</div>
  
  <footer>
    <marquee behavior="scroll" direction="left" style="bottom: 0px;color: rgb(241, 236, 236);">This prediction on base of previous year result </marquee>
    <p>&copy; 2023 My Web Page. All rights reserved.</p>
  </footer>
</body>
</html>